.links li a {
 
    color:#050505 ; /* Set the text color to white */
  font-family: roboto;
 /* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: #0a0a0a;
  font-family: roboto;
}
.button{
 color: #0a0a0a;
 font-family: roboto;
 background-color:#e6b1f0;background-color:#e6b1f0;
}

body {
  font-family: Georgia, sans-serif;
  background-color:#ffffff  ;
}
a {
  text-decoration: none;
  font-family: arial;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin:19px;
}


/* Start Landing Page */
.landing-page header {
  min-height: 80px;
  display: flex;
}

  .landing-page header {
    min-height: auto;
    display: initial;
    
  }

.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing-page header .logo {
  color:  #0a0a0a;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

.landing-page header .links {
  display: flex;
  align-items: center;
}

.landing-page header .links li {
  margin-left: 30px;
  color: #0a0a0a;
  cursor: pointer;
  transition: .3s;
}

.landing-page header .links li:last-child {
  border-radius: 10px;
  padding: 10px 20px;
  color: #0a0a0a;
  background-color: #e6b1f0 ;
}

.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

.landing-page .content .info h1 {
  color: #5d5d5d;
  font-size: 69px;
  font-family: 'Great Vibes', cursive;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}
.landing-page .content .info button {
 
  border-radius: 10px;
   border: 2px solid #FFFFF;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: black;
  background-color:  #e6b1f0 ;
}
.landing-page .content .image img {
  max-width: 100%;
  
  border-radius: 10px;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* End Landing Page */

.footer-basic {
  padding:40px 0;
  background-color:#e6b1f0;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:black;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:black;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/*footer ed*/
